<% content_for :head do %>
  <%= GMap.header %>
  <%= @map.to_html %>
<% end %>

<section id="content">
<%= @map.div(:width => 960, :height => 500) %>
<% field_set_tag 'Sprawdzanie adresu' do %>
<label for="adres">Adres:</label><br />
<input type="text" id="adres" size="30" class="pole"></input><br />
<%= button_to_remote "Sprawdź lokalizację na mapie", :url => { :action => 'sprawdz_lokalizacje' }, :with => "'adres=' + $('adres').value"%>
<br />
<% end %>
<% form_for(@marker, :html => { :class => :duzy }) do |f| %>
  <%= f.error_messages %>
  <% field_set_tag 'Pozycja na mapie' do %>
  <p>
  <%= f.label :wysokosc %><br />
  <%= f.text_field :wysokosc, :class => :pole %>
  </p>
  <p>
  <%= f.label :szerokosc %><br />
  <%= f.text_field :szerokosc, :class => :pole %>
  </p>
  <p>
  <%= button_to_function "Pokaż wybrane koordynaty na mapie", :class => :przycisk  do |page| 
    @map = Variable.new("map")

    page << "var wysokosc = $('marker_wysokosc').value;"
    page << "var szerokosc = $('marker_szerokosc').value;"
    @x = Variable.new("wysokosc")
    @y = Variable.new("szerokosc")

    page << @map.add_overlay(GMarker.new(GLatLng.new([@x, @y]),:title => "Hello again!"))
    
    page << @map.set_center(GLatLng.new([@x, @y]), 12)
  
  end
%>
</p>
<% end %>
<% field_set_tag 'Galeria:' do %>
  <% f.fields_for :galerie do |builder| %>
    <p>
    <%= builder.hidden_field :autor, :value => current_user[:login] %>
    </p>
    <p>
    <%= builder.label :nazwa, "Nazwa" %><br />
    <%= builder.text_field :nazwa, :class => :pole %>
    </p>
    <p>
    <%= builder.label :opis, "opis" %><br />
    <%= builder.text_area :opis, :class => :pole %>
    </p>
  <% end %>
<% end %>
  <p>
  <%= f.submit 'Utwórz', :class => :przycisk %>
  </p>
<% end %>

</section>

