<% title "Rails Photo - Strona Główna" %>

<% content_for :head do %>
  <% if false %> 
  <%= GMap.header %>
  <%= @map.to_html %>
<% end %>
<% end %>

		  <section id="content">
		  <section id="left">
		  <h1>Ostatnio dodane</h1>
		  <ul>
      <% for ostatnie in @ostatnie %>
        <li>
        <% link_to ostatnie do %>
          <%= image_tag ostatnie.photo.url(:thumb) %>
        <% end %>
        <span class="info"><%= ostatnie.opis %></span> 
        <% end %>
          </li>
      
              </ul>
            </section>


       
            <article> 
    <ul> 
      <% for kategoria in @kategorie %>
        <li>
        <% link_to kategoria do %>
          <span><%= kategoria.nazwa %></span>
          <% if kategoria.zdjecia.exists? %>
            <%= image_tag kategoria.zdjecia.first.photo.url(:smaller) %>
          <% end %>
        <% end %>
        </li>
      <% end %>
    </ul> 
    </article>

					 <section id="right">
					<section id="tags">
					<h1>tagi</h1>				
<% for tag in @tags %>
  <%= link_to tag.name, { :controller => "zdjecia", :search => tag.name } %>
<% end %>
					</section>
       
               <section id="right">
		  <h1>Najczęściej odwiedzane</h1>
		  <ul>
      <% for najczesciej in @najczesciej %>
        <li>
        <% link_to najczesciej do %>
          <%= image_tag najczesciej.photo.url(:thumb) %>
        <% end %>
        <span class="info"><%= najczesciej.opis %></span> 
        <% end %>
          </li>
      
              </ul>
            </section>


               
               
               
               </section>
					 </section>



