<% form_for (@zdjecie, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :opis %><br />
    <%= f.text_field :opis %>
  </p>
  
  <p>
    <%= f.label 'Zdjęcie' %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.label 'Tagi (oddzielone przecinkiem):' %><br />
    <%= f.text_field :tag_list %>
	<%#ponizej: numer galerii, do ktorej nalezy zdjecie %>
	<%= f.hidden_field :galeria_id, :value => params[:nr_galerii] %>

  </p>
  <p><%= f.submit "Utwórz" %></p>
<% end %>
