<% title "Zdjęcia" %>

<% for zdjecie in @zdjecia %>
<div class="zdjecie">
    <% if zdjecie.photo.exists? %>
        <a href="zdjecia/<%= zdjecie.id %>"><%= image_tag zdjecie.photo.url(:thumb) %></a>
    <% else %>
        <p>[brak zdjęcia]</p>
    <% end %>
    <p class="opis"><%=h zdjecie.opis %></p>
    <%= link_to "Edycja", edit_zdjecie_path(zdjecie) %>
    <%= link_to "Usuń", zdjecie, :confirm => 'Na pewno usunąć to zdjęcie?', :method => :delete %>
</div>
<% end %>

<p><%= link_to "Dodaj zdjęcie", new_zdjecie_path %></p>
