<% title "Zdjęcie" %>

<% content_for :head do %>
  <%= ajaxful_rating_style %>  
<% end %>

<div class="ocena">
   <%= ratings_for @zdjecie, :dimension => :ocena %>
  </div>


    <section id="content">
				<article id="show"> 
            <h1><%=h @zdjecie.opis %> | Wyświetlono: <%=h @zdjecie.licznik %></h1>


            
            <% if current_user && current_user[:login] == @zdjecie.galeria.autor %> 
              <li>
      <% link_to edit_zdjecie_path(@zdjecie) do %>
        <%= render :partial => 'image' %>
        <%= link_to "Usuń", @zdjecie, :confirm => 'Na pewno usunąć to zdjęcie?', :method => :delete %> 

      </li>
      <% end %>
    <% else %>
            <ul>
         <li>
        <%= render :partial => 'image' %>
      </li>
    <% end %>
          </ul>



  <section id="tags">
    <strong>Tagi:</strong>
    <% for tag in @zdjecie.tag_list %>
      <%= link_to tag, :controller => "zdjecia", :search => tag %>
    <% end %>
  </secyion>

  <section id="komentarze">
    <h1>Komentarze:</h1>
      <%= render :partial => @zdjecie.komentarze %>
  </section>

  <section id="formularz">
    <% form_for [@zdjecie, Komentarz.new] do |f| %>
      <% if current_user %>
        <%= f.hidden_field :autor, :value => current_user[:login] %>
      <% else %>
        <p>
        <%= f.label :autor, "Autor" %><br />
        <%= f.text_field :autor %>
        </p>
      <% end %>
      <p>
      <%= f.label :tresc, "Treść" %><br />
      <%= f.text_area :tresc %>
      </p>
      <p> <%= f.submit "Dodaj komentarz" %> <p> 
    <% end %>
    </section>

					 </article> 
					 </section>

