<% title "Zdjęcie" %>

<p>
  <strong>Opis:</strong>
  <%=h @zdjecie.opis %>

</p>
<p>
<%= ratings_for @zdjecie, :dimension => :ocena %>
</p>
<% if current_user %>
  Twoja ocena: <%= ratings_for @zdjecie, :force_static => true, :dimension => :ocena, :small => true, :show_user_rating => true %>
<% end %>
<p>
    <% if @zdjecie.photo.exists? %>
    <p><%= image_tag @zdjecie.photo.url(:small) %></p>
    <% else %>
    <p> Brak zdjęcia, dodaj je. </p>
    <% end %>
</p>
<p>
  <%= link_to "Edycja", edit_zdjecie_path(@zdjecie) %> 
  <%#= link_to "Usuń", @zdjecie, :confirm => 'Na pewno usunąć to zdjęcie?', :method => :delete %> |
  <%= link_to "Pokaż wszystkie zdjęcia", zdjecia_path %>
</p>
<p> 
  <%= link_to "Pokaż całą tę galerię", { :controller => "galerie", :action => "show", :id => @zdjecie.galeria_id} %>
</p>
<p>
<strong>Tagi:</strong>
<% for tag in @zdjecie.tag_list %>
  <%= link_to tag, :controller => "zdjecia", :search => tag %>
<% end %>
</p>

<h2> Komentarze: </h2>
<div id="komentarze">
  <%= render :partial => @zdjecie.komentarze %>
</div>

<% form_for [@zdjecie, Komentarz.new] do |f| %>
  <p>
    <%= f.label :autor, "Autor" %><br />
    <%= f.text_field :autor %>
  </p>
  <p>
    <%= f.label :tresc, "Treść" %><br />
    <%= f.text_area :tresc %>
    </p>
    <p> <%= f.submit "Dodaj komentarz" %> <p> 
<% end %>
