<% title "Zaloguj się" %>

<section id="content">
<section id="profil">
<ul class="formlist">
<% form_for @uzytkownik_session do |form| %>
    <%= form.error_messages %>
      <li>
      <%= form.label :login, "Login" %>
      <%= form.text_field :login %>
      </li>
      <li>
      <%= form.label :password, "Hasło" %>
      <%= form.password_field :password %>
      </li>
      <li>
      <%= form.submit "Zaloguj" %>
      </li>
    <% end %>
  </ul>
    </section>
  </section>
