<% title "Galerie zdjęć" %>

<% content_for :head do %>
  <%= GMap.header %>
  <%= @map.to_html %>
<% end %>

<%= @map.div(:width => 600, :height => 400) %>

<% form_tag zdjecia_path, :method => 'get' do %>
  <p>
  <%= text_field_tag :szukaj_opisu, params[:szukaj_opisu] %>
  <%= submit_tag "Szukaj zdjęć według ich opisu", :name => nil %>
  </p>
<% end %>

Szukaj zdjęć według tagów:<br>
<% for tag in @tags %>
  <%= link_to tag.name, { :controller => 'zdjecia',  :action => 'index', :search => tag.name} %>
<% end %>
<br><br>


<table>
  <% for galeria in @galerie %>
    <tr>
      <td><%=h galeria.nazwa %></td>
      <td><%=h galeria.autor %></td>
      <td><%=h galeria.opis %></td>
	  <td>
        <%# pokazanie pierwszego zdjecia z galerii %>
        <% link_to galeria do %>
	  	<% if galeria.zdjecia.exists? %>
          <%= image_tag galeria.zdjecia.find(:first).photo.url(:thumb) %>
        <% end %>
        <% end %>
      </td>
      <% if current_user && current_user[:login] == galeria.autor %>
      <td><ul>
          <li><%= link_to "Pokaż galerię", galeria %>
          <li><%= link_to "Edytuj opis galerii", edit_galeria_path(galeria) %>
          <li><%= link_to "Usuń galerię", galeria, :confirm => 'Na pewno usunąć tę galerię?', :method => :delete %>
          <li><%= link_to "Dodaj zdjęcie", { :controller => 'zdjecia',  :action => 'new', :nr_galerii => galeria.id} %>
          <li><%= link_to "Edytuj/usuń zdjęcie", { :action => "show", :id => galeria.id, :kasowanie => "tak" } %>
      </ul></td>
    <% end %>
    </tr>
  <% end %>
</table>
<% if current_user %>
  <p><%= link_to "Utwórz nową galerię", new_galeria_path %></p>
  <p> <%=h current_user[:login] %>
<% end %>
<p><%= link_to "Pokaż wszystkie zdjęcia", zdjecia_path %></p>
