<% title "Galerie zdjęć" %>

<% content_for :head do %>
    <%= stylesheet_link_tag 'zdjecia' %>
    <%= ajaxful_rating_style %>  
<% end %>


<% form_tag zdjecia_path, :method => 'get' do %>
  <p>
  <%= text_field_tag :szukaj_opisu, params[:szukaj_opisu] %>
  <%= submit_tag "Szukaj zdjęć według ich opisu", :name => nil %>
  </p>
<% end %>


<!--
<% form_tag zdjecia_path, :method => 'get' do %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Szukaj zdjęć", :name => nil %>
  </p>
<% end %>
-->

Szukaj zdjęć według tagów:<br>
<% for tag in @tags %>
  <%= link_to tag.name, { :controller => 'zdjecia',  :action => 'index', :search => tag.name} %>
<% end %>
<br><br>


<table>
  <tr>
    <th>Nazwa</th>
    <th>Autor</th>
    <th>Opis</th>
  </tr>
  <% for galeria in @galerie %>
    <tr>
      <td><%=h galeria.nazwa %></td>
      <td><%=h galeria.autor %></td>
      <td><%=h galeria.opis %></td>
      <td><%= link_to "Pokaż galerię", galeria %></td>
      <td><%= link_to "Edytuj opis galerii", edit_galeria_path(galeria) %></td>
      <td><%= link_to "Usuń galerię", galeria, :confirm => 'Na pewno usunąć tę galerię?', :method => :delete %></td>
	  <td><%= link_to "Dodaj zdjęcie", { :controller => 'zdjecia',  :action => 'new', :nr_galerii => galeria.id} %></td>
	  <td><%= link_to "Edytuj/usuń zdjęcie", { :action => "show", :id => galeria.id, :kasowanie => "tak" } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Utwórz nową galerię", new_galeria_path %></p>
<p><%= link_to "Pokaż wszystkie zdjęcia", zdjecia_path %></p>
