<% title "Galeria" %>

<% content_for :head do %>
  <% end %>

 <div id="content">
    <h1>Galeria: <%= @galeria.nazwa %> | Opis: <%= @galeria.opis %></h1>

    <% if current_user && current_user[:login] == @galeria.autor %>
      <ul>
          <li><%= link_to "Edytuj opis galerii", edit_galeria_path(@galeria) %>
          <li><%= link_to "Usuń galerię", @galeria, :confirm => 'Na pewno usunąć tę galerię?', :method => :delete %>
          <li><%= link_to "Dodaj nowe zdjęcie", { :controller => 'zdjecia',  :action => 'new', :nr_galerii => @galeria.id} %>
      </ul>
    <% end %>
    <ul>
      <% for zdjecie in @galeria.zdjecia.all %>
        <li>
        <% link_to zdjecie do %>
          <%= image_tag zdjecie.photo.url(:thumb), :class => :thumb %>

        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<% if false %>
<p>
  <strong>Nazwa:</strong>
  <%=h @galeria.nazwa %>
</p>
<p>
  <strong>Autor:</strong>
  <%=h @galeria.autor %>
</p>
<p>
  <strong>Opis:</strong>
  <%=h @galeria.opis %>
</p>

<%# Wywolanie widoku czesciowego, potrzebnego do pokazania lub do skasowania zdjec nalezacych do danej galerii %>
<p id="gal_zdjecia"><strong>Zdjecia:</strong>
    <%= render :partial => @galeria.zdjecia %>
  </p>


<p>
  <%= link_to "Pokaż wszystkie galerie", galerie_path %>
  </p>
<% end %>
