<% form_for @komentarz do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </p>
  <p>
    <%= f.label :tresc %><br />
    <%= f.text_area :tresc %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
