<% title "Komentarze" %>

<table>
  <tr>
    <th>Autor</th>
    <th>Tresc</th>
  </tr>
  <% for komentarz in @komentarze %>
    <tr>
      <td><%=h komentarz.autor %></td>
      <td><%=h komentarz.tresc %></td>
      <td><%= link_to "Pokaż", komentarz %></td>
      <td><%= link_to "Edytuj", edit_komentarz_path(komentarz) %></td>
      <td><%= link_to "Usuń", komentarz, :confirm => 'Na pewno usunąć?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nowy Komentarz", new_komentarz_path %></p>
