<% title "Komentarz" %>

<p>
  <strong>Autor:</strong>
  <%=h @komentarz.autor %>
</p>
<p>
  <strong>Tresc:</strong>
  <%=h @komentarz.tresc %>
</p>

<p>
  <%= link_to "Edytuj", edit_komentarz_path(@komentarz) %> |
  <%= link_to "Usuń komentarz", @komentarz, :confirm => 'Na pewno usunąć ten komentarz?', :method => :delete %> |
  <%= link_to "Pokaż wszystkie komentarze", komentarze_path %>
</p>
